@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.main-container{
    font-family: Roboto;
    font-weight: bold;
    padding: 10px;
    color: grey;
    background-color: black;
   
    
}
.images-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.image{
    width: 200px;
    border-radius: 6px;
    border: 2px solid grey;
    margin: 15px;

}

.second{
    color: white;
    background-color: black;
    height: 100vh;
    padding: 10px;
    font-family: Roboto;
}
.second-image{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.imgs{
    height: 230px;
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
p{
    margin-left: 5px;
    padding: 2px;
}
.btns{
    padding: 0px;
    border: 0px;
    outline: 0px;
    background-color: transparent;
}